<div class="row mt-4">
  <table class="table table-bordered">
    <div class="py-2">
      <thead>
        <tr>
          <th>投稿者</th>
          <th>作成日時</th>
          <th>タイトル</th>
          <% if member_signed_in? %>
              <th>重度レベル</th>
            <% else admin_signed_in? %>
              <th>公開ステータス</th>
            <% end %>
          <th>改善案の有無</th>
          <th>コメント数</th>
        </tr>
      </thead>
      <tbody>
        <% posts.each do |post| %>
          <% if member_signed_in? %>
            <tr data-href='<%= post_path(post.id) %>'>
              <td><%= post.member.name %></td>
              <td><%= post.created_at.strftime("%Y年%m月%d日 %H時%M分") %></td>
              <td><%= post.title.truncate(15, omission: '...') %></td> <%#15文字以上は...で省略%>
              <td><%= post.level_status_i18n %></td>
              <td><%= post.vision.present? ? 'あり' : 'なし' %></td> <%#三項演算子の記述%>
              <td><span id = "comment_count" ><%= post.comments.length %></span></td><%#countではなくlengthだと再度クエリを実行しない%>
            </tr>
          <% else admin_signed_in? %>
            <tr data-href='<%= admin_post_path(post.id) %>'>
              <td><%= post.member.name %></td>
              <td><%= post.created_at.strftime("%Y年%m月%d日 %H時%M分") %></td>
              <td><%= post.title.truncate(15, omission: '...') %></td>
              <td><%= post.open_status_i18n %></td>
              <td><%= post.vision.present? ? 'あり' : 'なし' %></td> <%#三項演算子の記述%>
              <td><span id = "comment_count" ><%= post.comments.length %></span></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </div>
  </table>
</div>