<div class="container py-5">
  <div class="row mt-3 mb-3 offset-1 text-center">
    <h3 class="px-4 title-background">ヒヤリハット編集</h3>
  </div>

  <div class="row justify-content-center">
  <%= form_with model: @post, url: post_path(@post),method: :patch do |f| %>
    <table class="table table-borderless">
      <tr>
        <td><%= f.label :タイトル %></td>
        <td><%= f.text_field :title, class: "form-control" %></td>
      </tr>
      <tr>
        <td><%= f.label :ヒヤリハット詳細説明 %></td>
        <td><%= f.text_area :body, class: "form-control", rows: 5 %></td>
      </tr>
      <tr>
        <td><%= f.label :画像 %></td>
        <td><%= f.file_field :image, accept: "image/*" %></td>
      </tr>
      <tr>
        <td><%= f.label :発生場所 %></td>
        <td><%= f.text_field :place, class: "form-control" %></td>
      </tr>
      <tr>
        <td><%= f.label :タグ %></td>
        <td><%= f.collection_select :tag_id, Tag.all, :id, :name, {}, {class:"form-control"} %></td>
      </tr>
      <tr>
        <td><%= f.label :重度 %></td>
        <td><%= f.select :level_status,Post.level_statuses_i18n.invert, {}, {class:"form-control"} %></td>
      </tr>
      <tr>
        <td><%= f.label :公開設定 %></td>
        <td><%= f.select :open_status,Post.open_statuses_i18n.invert, {}, {class:"form-control"} %></td>
      </tr>
    </table>
    <%= f.submit "変更を保存", class: "btn btn-dark" %>
  <% end %>
  </div>

</div>