<div class="container py-5">
  <div class="row">
    <div class="col-11 mx-auto">
      <h3>社内ヒヤリハット一覧</h3>

      <!--並び替え・フィルターのリンク-->
      <div class = "row m-3" >
        <%= link_to '新着順/', posts_path(sort_by: "latest") %>
        <%= link_to '古い順/', posts_path(sort_by: "old") %>
        <%= link_to '軽度/', posts_path(sort_by: "level_low") %>
        <%= link_to '中等度/', posts_path(sort_by: "level_middle") %>
        <%= link_to '重度', posts_path(sort_by: "level_high") %>
      </div>

      <!--一覧-->
      <%= render "public/posts/list", posts: @open_posts %>

    </div>
  </div>
  <%= paginate @open_posts %>
</div>
