<div id="comments_error"></div> <!--コメントのバリデーションチャックのため-->

<div class="container py-5">
  <div class="row mt-3 mb-3 offset-1 text-center">
    <h3 class="px-4 title-background">ヒヤリハット詳細</h3>
  </div>

  <div class="row justify-content-center">
    <table class="table table-borderless">
      <tr>
        <td>タイトル</td>
        <td><%= @post.title %></td>
      </tr>
      <tr>
        <td>詳細説明</td>
        <td><%= @post.body %></td>
      </tr>
      <tr>
        <td>画像</td>
        <td><%= image_tag @post.get_image(300,250) %></td> <!--画像拡大機能を付けたいかも-->
      </tr>
      <tr>
        <td>発生場所</td>
        <td><%= @post.place %></td>
      </tr>
      <tr>
        <td>タグ</td>
        <td><%= @post.tag.name %></td> <!--tag_id.nameではなく"tagモデル内のnameカラム"を持ってくるためこの記述-->
      </tr>
      <tr>
        <td>重度</td>
        <td><%= @post.level_status_i18n %></td>
      </tr>
      <tr>
        <td>公開設定</td>
        <td><%= @post.open_status_i18n %></td>
      </tr>
    </table>

    <div class="row">
      <% if @post.member == current_member %>
        <div class="mx-3">
          <%= link_to "編集", edit_post_path(@post), class: "btn btn-dark" %>
        </div>
        <div class="mx-3">
          <%= link_to "削除", post_path(@post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-dark" %>
        </div>
      <% end %>

      <% if @post.vision.present? %> <!--改善案が作成済の場合は誰にでも表示-->
        <div class="mx-3">
          <%= link_to "改善案表示", post_vision_path(@post, @post.vision), class: "btn btn-dark" %>
        </div>
      <% end %>

      <% if !@post.vision.present? && @post.member == current_member %> <!--改善案が未作成の場合は作成者にのみ表示-->
        <div class="mx-3">
          <%= link_to "改善案作成", new_post_vision_path(@post), class: "btn btn-dark" %>
        </div>
      <% end %>
    </div>

    <div class = "mx-3">
      <%= link_to "PDFを表示", post_show_pdf_index_path(@post, @vision, format: "pdf") %>
    </div>

    <!--コメント機能-->
    <div class=" row mt-3 mb-3 offset-1 ">
      <div id ="comment-form">
        <%= render "public/comments/form", post: @post, comment: @comment %>
      </div>
      <div id ="comments">
        <%= render "public/comments/show", post: @post, comment: @comment %>
      </div>
    </div>

  </div>

</div>