<div id="comments_error"></div><%#コメントのバリデーションチャックのため%>
<div class="mx-auto">
  <h2 class="title"><%= "ヒヤリハット詳細 : #{@post.open_status_i18n}" %></h2>
  <div class="row mt-4">
    <div class="col-md-7">
      <div class="text-break mt-3">
        <%= "投稿者 : #{@member.name}" %>
      </div>
      <div class="text-break mt-3">
        <%= "タイトル : #{@post.title}" %>
      </div>
      <div class="text-break mt-3">
        <%="発生日時 : #{@post.occurrence_at.strftime("%Y年%m月%d日 %H時%M分")}" %>
      </div>
      <div class="text-break mt-3">
        <%= "発生場所 : #{@post.place}" %>
      </div>
      <div class="text-break mt-3">
        <%= "タグ : #{@post.tag.name}" %>
      </div>
      <div class="text-break mt-3">
        <%= "重度レベル : #{@post.level_status_i18n}" %>
      </div>
      <div class="text-break mt-3">
        <%= "詳細説明 : " %><br>
        <%= @post.body %>
      </div>
    </div>
    <div class="col-md-5">
      <%= image_tag @post.get_image(300, 250), class: "img-fluid" %>
    </div>
  </div>
  <div class="row mt-4">
    <% if @post.member == current_member %>
      <div class="mx-3">
        <%= link_to "編集", edit_post_path(@post), class: "btn btn-dark" %>
      </div>
      <div class="mx-3">
        <%= link_to "削除", post_path(@post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-dark" %>
      </div>
    <% elsif %>
      <div class="mx-3">
        <%= link_to "#{@member.name}さんのマイページ", member_path(@member), class: "btn btn-dark" %>
      </div>
    <% end %>
    <% if @post.vision.present? %> <%#改善案が作成済の場合は誰にでも表示%>
      <div class="mx-3">
        <%= link_to "改善案を表示", post_vision_path(@post, @post.vision), class: "btn btn-dark" %>
      </div>
    <% end %>
    <% if !@post.vision.present? && @post.member == current_member %> <%#改善案が未作成の場合は作成者にのみ表示%>
      <div class="mx-3">
        <%= link_to "改善案を作成", new_post_vision_path(@post), class: "btn btn-dark" %>
      </div>
    <% end %>
  </div>
  <!--コメント機能-->
  <div class="row mt-4">
    <h3 class="title-background">コメント</h3>
  </div>
  <div class="row mt-2">
    <div id="comment-form" class="col-md-4">
      <%= render "public/comments/form", post: @post, comment: @comment %>
    </div>
    <div id="comments" class="col-md-8">
      <%= render "public/comments/show", post: @post, comment: @comment, report: @report %>
    </div>
  </div>
</div>
