<div class="container py-5">
  <div class="row">
    <div class="col-11 mx-auto">
      <h3>管理者ログイン</h3>

      <div class="py-3">
      <%= form_with model: @admin, url: admin_session_path do |f| %>
        <%#= render "admin/shared/error_messages", resource: resource %> <%#新しくカラム追加したときは有効かも%>

        <div class="field">
          <%= f.label :email, "メールアドレス" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>
        </div>

        <div class="field mt-3">
          <%= f.label :password, "個人パスワード" %><br />
          <%= f.password_field :password, autocomplete: "current-password", required: true %>
        </div>

        <div class="field mt-3">
          <%= f.label :company_password, "社内パスワード" %><br />
          <%= f.password_field :company_password, autocomplete: "new-password", required: true %>
        </div>

        <div class="actions mt-4">
          <%= f.submit "ログイン", class: "btn btn-dark" %>
        </div>
      <% end %>

      <%= render "admin/shared/links" %>

      </div>
    </div>
  </div>
</div>