<div class="mx-auto">
  <h2 class="title">プロフィール編集</h2>
  <!--バリデーション部分-->
  <%= render 'layouts/error', obj: @member %>
  <!--編集フォーム-->
  <div class="row mt-4 justify-content-center">
    <%= form_with model: @member, url: member_path, method: :patch do |f| %>
    <table class="table table-borderless">
      <tr>
        <td><%= f.label :name,"氏名", class: "mr-3" %></td>
        <td><%= f.text_field :name, placeholder: "氏名" %></td>
      </tr>
      <tr>
        <td><%= f.label :industry,"業種", class: "mr-3" %></td>
        <td><%= f.text_field :industry, placeholder: "業種" %></td>
      </tr>
      <tr>
        <td><%= f.label :industry,"会社名", class: "mr-3" %></td>
        <td><%= f.text_field :company, placeholder: "会社名" %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit "変更を保存", class: "btn btn-dark" %></td>
      </tr>
    </table>
    <% end %>
  </div>
</div>