<div class="mx-auto">
  <h2 class="title"><%= "#{@member.name}さんのマイページ" %></h2>
  <div class="row col-6 mt-4 mx-auto text-center">
    <table class="table" style="background-color: #CEECF5;">
      <tbody>
        <tr>
          <td>氏名</td>
          <td><%= @member.name %></td>
        </tr>
        <tr>
          <td>業種</td>
          <td><%= @member.industry %></td>
        </tr>
        <tr>
          <td>会社名</td>
          <td><%= @member.company %></td>
        </tr>
        <tr>
          <td>投稿数</td>
          <td><%= @member.posts.count %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <% unless @member.guest_member? %> <%#ゲストログインは編集できない%>
  <div class="row justify-content-center mt-3">
    <% if @member == current_member %>
      <div class = "mx-3">
        <%= link_to "編集", edit_member_path(current_member), class: "btn btn-dark" %>
      </div>
      <div class = "mx-3">
        <%= link_to "退会", confirm_members_path(current_member), class: "btn btn-dark" %>
      </div>
    <% end %>
  </div>
  <% end %>
  <div class="row justify-content-center">
    <%= render "public/members/tab", member_posts: @member_posts, unopened_posts: @unopened_posts,favorite_posts: @favorite_posts,member: @member %> <!--@favorite_postsを後で追加-->
  </div>
</div>
