<%= javascript_pack_tag 'tab' %>

<div class="container">
  <div class="row">
    <div class="col-10 text-center">
    <h1 class="my-5"><%= "#{@member.name}さんのマイページ" %></h1>
    <table class="table table-bordered">
      <tr>
        <td>氏名</td>
        <td><%= @member.name %></td>
      </tr>
      <tr>
        <td>業種</td>
        <td><%= @member.industry %></td>
      </tr>
      <tr>
        <td>会社名</td>
        <td><%= @member.company %></td>
      </tr>
    </table>

    <!--ログインユーザー自身の場合-->
    <div class="row justify-content-center">
      <% if @member == current_member %>
        <div class = "mx-3">
          <%= link_to "編集", edit_member_path(current_member), class: "btn btn-dark" %>
        </div>
        <div class = "mx-3">
          <%= link_to "退会", confirm_members_path(current_member), class: "btn btn-dark" %>
        </div>
      <% end %>
    </div>
    </div>

    <%= render "public/members/tab", member_posts: @member_posts, unopened_posts: @unopened_posts,favorite_posts: @favorite_posts %> <!--,favorite_posts: @favorite_postsを後で追加-->

  </div>
</div>
