<!-- フォーム -->
<h2 class="title">データ</h2>
<div class="mx-auto">
  <div class="text-center" style="font-size: 120%;">
    <form id="targetForm">
      <p>
      <span id="membersCount" class="count-up">合計登録者数<%= @members_count %></span> 人 /
      <label for="membersTarget">目標人数:</label>
      <input type="number" id="membersTarget" name="membersTarget" value="<%= @members_target %>" min="0">
      </p>
      <p>
      <span id="postsCount" class="count-up">合計投稿数<%= @posts_count %></span> 件 /
      <label for="postsTarget">目標件数:</label>
      <input type="number" id="postsTarget" name="postsTarget" value="<%= @posts_target %>" min="0">
      </p>
      <p>
      <span id="companiesCount" class="count-up">合計登録会社数<%= @companies_count %></span> 社 /
      <label for="companiesTarget">目標会社数:</label>
      <input type="number" id="companiesTarget" name="companiesTarget" value="<%= @companies_target %>" min="0">
      </p>
      <button type="button" onclick="updateTargets()" class="btn btn-dark pull-right ml-3">更新</button>
    </form>
  </div>
<!-- グラフ -->
  <div class="row mt-4">
    <canvas id="comparisonChart" width="400" height="200"></canvas>
    <script>
      var ctx = document.getElementById("comparisonChart").getContext('2d');
      var comparisonChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: ["登録者数", "投稿数", "登録会社数"],
          datasets: [
            {
              label: '実績',
              data: [<%= @members_count %>, <%= @posts_count %>, <%= @companies_count %>],
              backgroundColor: 'rgba(0,128,255, 0.2)',
              borderColor: 'rgba(0,128,255, 1)',
              borderWidth: 1
            },
            {
              label: '目標',
              data: [<%= @members_target %>, <%= @posts_target %>, <%= @companies_target %>],
              backgroundColor: 'rgba(1,223,165, 0.2)',
              borderColor: 'rgba(1,223,165, 1)',
              borderWidth: 1
            }
          ]
        },
        options: {
          scales: {
            x: {
              beginAtZero: true
            },
            y: {
              beginAtZero: true
            }
          }
        }
      });

      function updateTargets() {
        var membersTarget = document.getElementById("membersTarget").value;
        var postsTarget = document.getElementById("postsTarget").value;
        var companiesTarget = document.getElementById("companiesTarget").value;

        comparisonChart.data.datasets[1].data = [membersTarget, postsTarget, companiesTarget];
        comparisonChart.update();
      }
    </script>
  </div>
</div>
