<div class="mx-auto">
  <h2 class="title">タグ一覧・追加</h2>
  <div class="row mt-4">
    <!--form部分-->
    <div class="py-3">
      <%= form_with model: @tag,url: admin_tags_path, method: :post do |f| %>
        <td><%= f.label :name,"タグ名", class: "mr-3" %></td>
        <td><%= f.text_field :name, class: "mr-5", required: true %></td>
        <td><%= f.submit'新規登録',class: "btn btn-dark" %></td>
      <% end %>
    </div>
  </div>
  <!--タグ一覧-->
  <div id ="tags">
    <%= render "admin/tags/list", tags: @tags %>
  </div>
</div>