<div class="container py-5">
  <div class="row">
    <div class="col-11 mx-auto">
      <h3>タグ一覧・追加</h3>

      <!--バリデーション部分-->
      <%= render 'layouts/error', obj: @tag %>

      <!--form部分-->
      <div class="py-3">
        <%=form_with model: @tag,url: admin_tags_path, method: :post do |f| %>
          <td><%= f.label :"タグ名", class: "mr-3" %></td>
          <td><%= f.text_field :name, class: "mr-5" %></td>
          <td><%= f.submit'新規登録',class: "btn btn-dark" %></td>
        <% end %>
      </div>

      <!--タグ一覧-->
      <div id ="tags">
        <%= render "admin/tags/list", tags: @tags %>
      </div>

    </div>
  </div>
</div>