<div class="mx-auto">
  <h2 class="title"><%= "ヒヤリハット詳細 : #{@post.open_status_i18n}" %></h2>
  <div class="row mt-4">
    <div class="col-md-7">
      <div class="text-break mt-3">
        <%= "投稿者 : #{@member.name}" %>
      </div>
      <div class="text-break mt-3">
        <%= "タイトル : #{@post.title}" %>
      </div>
      <div class="text-break mt-3">
        <%="発生日時 : #{@post.occurrence_at.strftime("%Y年%m月%d日 %H時%M分")}" %>
      </div>
      <div class="text-break mt-3">
        <%= "発生場所 : #{@post.place}" %>
      </div>
      <div class="text-break mt-3">
        <%= "タグ : #{@post.tag.name}" %>
      </div>
      <div class="text-break mt-3">
        <%= "重度レベル : #{@post.level_status_i18n}" %>
      </div>
      <div class="text-break mt-3">
        <%= "詳細説明 : " %><br>
        <%= @post.body %>
      </div>
      <% if @post.vision.present? %>
        <div class="text-break mt-3">
          <%= "改善案 : " %><br>
          <%= @post.vision.improvement %>
        </div>
        <div class="text-break mt-3">
          <%= "改善締切日 : #{@post.vision.closing_day.strftime("%Y年%m月%d日 %H時%M分")}" %>
        </div>
        <div class="text-break mt-3">
          <%= "確認者 : #{@post.vision.double_check}" %>
        </div>
      <% else %>
        <%= "<span style='font-weight: bold; font-size: larger;'>※改善案未作成</span>".html_safe %>
      <% end %>
    </div>
    <div class="col-md-5">
      <%= image_tag @post.get_image(300, 250), class: "img-fluid" %>
    </div>
  </div>
  <div class="m-4">
    <%= link_to "通報されたコメント一覧", admin_reports_path, class: "btn btn-dark" %>
  </div>
  <!--コメント機能-->
  <div class="row mt-4">
    <h3 class="title-background">コメント</h3>
  </div>
  <div class="row mt-4">
    <div id ="comments">
      <%= render "public/comments/show", post: @post, comment: @comment %>
    </div>
  </div>
</div>