<div class="container py-5">
  <div class="row">
    <div class="col-11 mx-auto">
      <h3>新規会員登録</h3>

      <div class="py-3">
      <%= form_with model: @member, url: member_registration_path do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :name, "名前" %><br />
          <%= f.text_field :name, autofocus: true %>
        </div>

        <div class="field mt-3">
          <%= f.label :email, "メールアドレス" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field mt-3">
          <%= f.label :password, "個人パスワード" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field mt-3">
          <%= f.label :password_confirmation, "個人パスワード" %>
          <em>(確認用)</em><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="field mt-3">
          <%= f.label :company_password, "社内パスワード" %><br />
          <%= f.password_field :company_password, autocomplete: "new-password" %>
        </div>

        <div class="field mt-3">
          <%= f.label :company_password_confirmation, "社内パスワード" %>
          <em>(確認用)</em><br />
          <%= f.password_field :company_password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="actions mt-3 pb-2">
          <%= f.submit "登録", class: "btn btn-dark" %>
        </div>
      <% end %>

      <%= render "public/shared/links" %>

      </div>
    </div>
  </div>
</div>