<div class="d-flex">
  <% if notice.post.member_id == visited.id %>
    <%= link_to "あなたの投稿", notice.post %>
  <% else %>
    <%= link_to post_path(notice.post) do %>
      <%= notice.post.member.name %>さんの投稿
    <% end %>
  <% end %>
  <p>にコメントしました。</p>

  <div class="text-secondary ml-3">
    <span class="time-text-size">
      <%= time_ago_in_words(notice.created_at).upcase %>
    </span>
    <%= link_to notification_path(notice), method: :delete, remote: :true, class:"text-dark" do %>
      <i class="fas fa-trash"></i>
    <% end %>
  </div>
</div>