<div data-toggle="modal" data-target="#noticeModal">
  <i class="fa-regular fa-bell fa-shake"></i>
</div>

<div class="modal fade" id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="noticeLabel" ariahidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="noticeLabel">通知</h5>
        <button type="button" class="btn-close btn btn-outline-secondary" data-dismiss="modal" aria-label="Close">
          <i class="fas fa-times"></i>
        </button>
      </div>

      <div class="modal-body" id="notice">
        <% notices = notices.where.not(visiter_id: current_member.id) %>
        <% if notices.exists? %>

          <div class="d-flex">
            <% if notice.post.member_id == visited.id %>
              <%= link_to "あなたの投稿", notice.post %>
            <% else %>
              <%= link_to post_path(notice.post) do %>
                <%= notice.post.member.name %>さんの投稿
              <% end %>
            <% end %>
            <p>にコメントしました</p>

            <div class="text-secondary ml-3">
              <%= truncate(notice.comment.comment, length: 15) %>
              <span class="time-text-size">
                <%= time_ago_in_words(notice.created_at).upcase %>
              </span>
              <%= link_to notification_path(notice), method: :delete, remote: :true, class:"text-dark" do %>
                <i class="fas fa-trash"></i>
              <% end %>
            </div>
          </div>

        <% else %>
          <p id="nonNotice">通知はありません</p>
        <% end %>
      </div>
    </div>
  </div>
</div>




