<div class="container py-5">
  <div class="row">
    <div class="col-11 mx-auto">
      <h3>会員ログイン</h3>

      <div class="py-3">
      <%= form_with model: @member, url: member_session_path do |f| %>
        <%#= render "public/shared/error_messages", resource: resource %> <%#新しくカラム追加したときは有効かも%>

        <div class="field">
          <%= f.label :email, "メールアドレス" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>
        </div>

        <div class="field">
          <%= f.label :password, "個人パスワード" %><br />
          <%= f.password_field :password, autocomplete: "current-password", required: true %>
        </div>

        <div class="field">
          <%= f.label :company_password, "社内パスワード" %><br />
          <%= f.password_field :company_password, autocomplete: "new-password", required: true %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions m-2">
          <%= f.submit "ログイン", class: "btn btn-dark" %>
        </div>
      <% end %>

      <div class="row m-2">
        <%= link_to "ゲストログイン（閲覧用）", members_guest_sign_in_path, class: "btn btn-dark", method: :post %>
      </div>

      <%= render "public/shared/links" %>

      </div>
    </div>
  </div>
</div>