<div class="container py-5">
  <div class="row mt-3 mb-3 offset-1 text-center">
    <h3 class="px-4 title-background">改善案編集</h3>
  </div>

  <div class="row justify-content-center">
  <%= form_with model: @vision, url: post_vision_path(@post,@vision), method: :patch do |f| %>
    <table class="table table-borderless">
      <div class="py-3">
        <tr>
          <td>タイトル</td>
          <td><%= @post.title %></td>
        </tr>
        <tr>
          <td>ヒヤリハット詳細</td>
          <td><%= @post.body %></td>
        </tr>
          <td><%= f.label :improvement, "改善案" %></td>
          <td><%= f.text_area :improvement, class: "form-control", size: "50x10" %></td>
        </tr>
        <tr>
          <td><%= f.label :closing_day, "改善締切日" %></td>
          <td><%= f.date_field :closing_day, class: "form-control" %></td>
        </tr>
        <tr>
          <td><%= f.label :double_check, "確認者" %></td>
          <td><%= f.text_field :double_check, class: "form-control" %></td>
        </tr>
      </div>
    </table>
    <%= f.submit "変更を保存", class: "btn btn-dark" %>
  <% end %>
  </div>

</div>