<div class="mx-auto">
  <h2 class="title">改善案作成</h2>
  <!--バリデーション部分-->
  <%= render 'layouts/error', obj: @vision %>
  <!--投稿フォーム-->
  <div class="row justify-content-center">
  <%= form_with model: @vision, url: post_visions_path, local: true do |f| %>
    <table class="table table-borderless">
      <div class="py-3">
        <tr>
          <td>タイトル</td>
          <td class="text-break"><%= @post.title %></td>
        </tr>
        <tr>
          <td>ヒヤリハット詳細</td>
          <td class="text-break"><%= @post.body %></td>
        </tr>
        <tr>
          <td><%= f.label :improvement, "改善案" %></td>
          <td><%= f.text_area :improvement, class: "form-control", size: "50x10" %></td>
        </tr>
        <tr>
          <td><%= f.label :closing_day, "改善締切日" %></td>
          <td><%= f.datetime_local_field :closing_day, class: "form-control" %></td>
        </tr>
        <tr>
          <td><%= f.label :double_check, "確認者" %></td>
          <td><%= f.text_field :double_check, class: "form-control" %></td>
        </tr>
      </div>
    </table>
    <%= f.submit '作成', class: "btn btn-dark px-4" %>
  <% end %>
  </div>
</div>