<div class="container py-5">
  <div class="row mt-3 mb-3 offset-1 text-center">
    <h3 class="px-4 title-background">改善案詳細</h3>
  </div>

  <div class="row justify-content-center">
    <table class="table table-borderless">
      <tr>
        <td>タイトル</td>
        <td><%= @post.title %></td>
      </tr>
      <tr>
        <td>ヒヤリハット詳細</td>
        <td><%= @post.body %></td>
      </tr>
      <tr>
        <td>改善案</td>
        <td><%= @vision.improvement %></td>
      </tr>
      <tr>
        <td>改善締切日</td>
        <td><%= @vision.closing_day.strftime("%Y年%m月%d日") %></td>
      </tr>
      <tr>
        <td>確認者</td>
        <td><%= @vision.double_check %></td>
      </tr>
    </table>

    <% if @post.member == current_member %>
      <div class = "mx-3">
        <%= link_to "編集", edit_post_vision_path(@post, @vision), class: "btn btn-dark" %>
      </div>
      <div class = "mx-3">
        <%= link_to "削除", post_vision_path(@post, @vision), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-dark" %>
      </div>
    <% end %>

    <!--いいね機能-->
    <td id = "favorite_buttons_<%= @vision.id %>" >
      <%= render "public/favorites/favorite", vision: @vision, post: @post %>
    </td>

  </div>

</div>