<!DOCTYPE html>
<html>
  <head>
    <title>HiyariColorVision</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/e8ca5afb42.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap" rel="stylesheet">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <%= favicon_link_tag('favicon') %>
  </head>

  <% c = controller %>
  <%# homesのtopアクションの時はjsのアクションを実行 %>
  <body style="background-color: #CEECF5; font-family: 'Kiwi Maru', serif;" id = "<%= (c.controller_name == 'homes' && c.action_name == 'top') ? 'top' : '' %>" >
    <%# homesのtopアクションで、homesコントローラーで定義した@displayの時は'display:none;'は実行しない %>
    <div class = "body" style= "<%= (c.controller_name == 'homes' && c.action_name == 'top' && @display ) ? 'display:none;' : '' %>" >
      <%= render 'layouts/header' %>
      <div class="mx-5 py-2">
        <% if flash[:notice].present? %>
          <i class="fa-solid fa-bullhorn" style="font-size:110%; color:#218390;">
          <%= flash[:notice] %></i>
        <% end %>
        <% if flash[:alart].present? %>  <%# ログイン時のエラー表示 %>
          <i class="fa-solid fa-bullhorn" style="font-size:110%; color:#218390;"></i>
          <%= flash[:alart] %>
        <% end %>
      </div>
      <main class="container flex-shrink-0" style="padding-top:2%; padding-bottom: 8%;">
        <%= yield %>
        <div id="top_png" style="display:none;"><%= image_path("top.png")%></div> <%#top画像読み込みのためにurlだけおいてidつける%>
      </main>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
